body {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0;
}
* {
    font-size: 2vw;
    -webkit-tap-highlight-color: transparent;
}

[id*='ingredientNo'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3vw 1vw 3vw 1vw;
    gap: 3vw;
    justify-items: center;
}
#ingredient {
    text-align: center;
}
.leftColumn {
    display: grid;
    justify-items: center;
    gap: 3vw;
}
.apiKeyEntry {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.inputIngredients {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5vw;
    justify-items: center;
}
#ingredientList {
    background-color: white;
    border: solid 1px black;
    border-radius: 20px 0px 0px 20px;
    width: 50%;
    list-style-type: disc;
    max-height: 300px;
    overflow-y: scroll;
}
.rightColumn {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    gap: 3vw;
    justify-items: center;
    align-content: center;
}
button {
    background-color:grey ;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor:pointer;
    max-height: 128px;
}
button:hover {
    animation-name: buttonTransition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor:pointer;
}@keyframes buttonTransition {
    from {background-color: grey}
    to {background-color: black;}
}
input {
    border: none;
    background-color: rgb(248, 244, 244);
    outline: none;
}
.hidden {
    visibility:hidden;
}
#customiseRecipePopUp, #logSignMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    margin: auto;
}
#customiseRecipe, #generateRecipe {
    max-height: 73px;
    min-height: 73px;
    display: flex;
    align-items: center;
}
.innerPopUp {
    display: grid;
    justify-content: center;
    background-color: white;
    width: auto;
    height: auto;
    z-index: 2;
    padding: 25px;
    position: relative;
    box-shadow: 10px 5px 10px 5px black;
}
.popUpHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
#popUpLogo {
    width:10vw;
    height:10vw;
}
.intolerancesAndDiets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
}
label {
    font-size: 1.5vw;
}
#customiseRecipePopUp.visible {
    visibility: visible;
    transition: ease-in 1s;
}
#intolerancesAndDietsHeader {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.showNutrionalInfo {
    display: flex;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#blackBackground {
    background-color: black;
    opacity: .3;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.removeIngredient {
    font-size: 1vw;
}
#saveSettings {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}
.loadFile {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
 .hideCarousel {
    display: none;
} 
@media screen and (max-width: 630px) {
    .container {
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        gap: 30vw;
    }
    .inputIngredients {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        padding: 10vw;
        justify-content: center;
    }
    #ingredientList {
        max-width: 80%;
        word-wrap: break-word;
        width: auto;
        height: 90px;
        overflow-y: scroll;
    }
    * {
        font-size: 7vw;
    }
    label {
        font-size: 7vw;
        text-align: center;
    }
    .removeIngredient {
        font-size: 7vw;
    }
    .leftColumn {
        justify-content: center;
    }
    .rightColumn {
        display: flex;
        flex-direction: row;
    }
    option {
        padding: .5vw;
        display: flex;
        justify-content: space-between;
    }
    #customiseRecipe, #generateRecipe {
        max-height: 30%;
        min-height: 30%;
    }
    #popUpLogo {
        display: none;
    }
    #viewRecipes {
        text-align: end;
        padding: 6vw;
    }
    #popUpHead{
        font-weight: 600;
        font-size: 10vw;
        padding-bottom: 5vw;
    }
    .popUpHeader {
        justify-content: center;
    }
    .intolerancesAndDiets {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        margin: 10px 0;
    }
}

/* ---RECIPE SLIDER--- */
.glide {
    top: 10%;
}
.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    text-transform: uppercase;
    padding: 9px 12px;
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
  }

.glide__arrow--right {
    right: .5em;
}

.glide__arrow--left {
    left: .5em;
}

#recInstructions, #recIngredients{
    font-size: clamp(.5rem, .5vw, 1rem);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    text-align: center;
}

.recContainer {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: row;
    background-color: gainsboro;
    color: black;
    max-width: 90%;
    border-radius: 50px;
}

[id*=recipe] {
    display: flex;
    justify-content: center;
    height: auto;
}
#recTitle {
    text-align: center;
    text-shadow: 3px 3px grey;
    white-space: wrap;
    font-size: clamp(2vw, .5vw, 4vw);
}

.instAndIng {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    gap: 2vw;
}

#nutritionIn {
    font-size: .5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    text-align: center;
    column-count: 2;
}
.recTitleAndImg {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

@media screen and (max-width: 630px) {

    .recContainer {
        flex-direction: column;
    }

    #recTitle {
        font-size: clamp(5vw, .5vw, 10vw);
    }

    #recImage {
        max-width: 50%;
    }
}